<div class="box">
  <img src="../assets/favicon.ico" alt="Image" class="icon" />
  <h1>Progress Bar</h1>
  <p>click to select a progress bar and add/subtract value</p>

  <div *ngFor="let bar of this.data.bars">
    <div class="progress">
      <div
        id="{{ bar }}"
        [class]="this.barClass"
        role="progressbar"
        [ngStyle]="{
          width: bar + '%'
        }"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{ bar }}
      </div>
    </div>
    <br />
  </div>

  <div class="button">
    <label>Select bar: </label>
    <button type="button" class="btn btn-info space" (click)="selectBar(0)">
      1st
    </button>
    <button type="button" class="btn btn-info space" (click)="selectBar(1)">
      2nd
    </button>
  </div>

  <div class="button">
    <span *ngFor="let btn of this.data.buttons">
      <button
        type="button"
        class="btn btn-primary space"
        (click)="onClick(btn)"
      >
        {{ btn }}
      </button>
    </span>
  </div>
</div>
